
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c7b747818b814123affc57b4237b159f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress